/*
	========================================
	LASTSUNDAY - PURPLE COLOR
	========================================
	
	@author			: @avriqq
	@version		: v1.1
	@date-create	: 08/11/2012
	@last-update	: 09/24/2014
	@file-name		: purple

*/

/*
	========================================
	TABLE OF CONTENT
	========================================

	[1. GLOBAL STYLE]
	[2. TYPHOGRAPHY]
	[3. BUTTON]
	[4. NAVBAR]
	[5. SLIDER]
	[6. BLOG POST ]
		[6.1. BLOG SINGLE ]
	[7. SERVICE ]
	[8. MAP ]
	[9. SIDEBAR ]
	[10. PAGINATION ]
	[11. FOOTER ]

*/


/*
	============================
	[1. GLOBAL STYLE]
	============================
*/
a{
	color: #ac92ec;
}

a:hover{
	color: #967adc;
}


/*
	============================
	[2. TYPHOGRAPHY]
	============================
*/
.heading-title h2::after{
	content: '';
	background-color: #967adc;
}

.text-secondary{
	color: #967adc;
}

blockquote{
	border-left-color: #967adc;
}


/*
	============================
	[3. BUTTON]
	============================
*/
.btn-secondary{
	color: #fff;
	background-color: #ac92ec;
	border-color: #967adc;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary{
	color: #fff;
	background-color: #967adc;
	border-color: #967adc;
}

.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary{
	background-image: none;
}

.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active{
	background-color: #ac92ec;
	border-color: #967adc;
}

.btn-secondary .badge{
	color: #ac92ec;
	background-color: #fff;
}

.bg-secondary{
	color: #fff;
	background-color: #ac92ec;
}

a.bg-secondary:hover{
	background-color: #967adc;
}

.label-secondary{
	background-color: #ac92ec;
}

.label-secondary[href]:hover,
.label-secondary[href]:focus{
	background-color: #967adc;
}

.progress-bar-secondary {
	background-color: #967adc;
}


/*
	============================
	[4. NAVBAR]
	============================
*/
.navbar-default .navbar-brand:hover{
	color: #ac92ec;
}

.navbar-default .navbar-nav > li > a{
	color: #ac92ec;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #967adc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	background-color: #967adc;
}

.navbar-default .navbar-nav > li.dropdown.open > a{
	background-color: #967adc;
}

.dropdown-menu > li > a::before{
	background-color: #967adc;
}

.dropdown-menu > li > a:hover::before,
.dropdown-menu > li > a:focus::before,
.dropdown-menu > .active > a::before,
.dropdown-menu > .active > a:hover::before,
.dropdown-menu > .active > a:focus::before{
	background-color: #967adc;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{
	color: #967adc;
}


/*
	============================
	[5. SLIDER]
	============================
*/
#home-slider .carousel-caption h3 small{
	background-color: rgba(150,122,220,.8);
}


/*
	============================
	[6. BLOG POST ]
	============================
*/
.blog-post .meta-post-author::before{
	content: '';
	background-color: #ac92ec;
}


/*
	============================
	[6.1. BLOG SINGLE ]
	============================
*/
.page-title .blog-post-date span:first-child{
	color: #967adc;
}

.blog-post-tags .tag-list > li > a:hover,
.blog-post-tags .tag-list > li > a:focus{
	border: 1px solid #967adc;
	background-color: #967adc;
}

.blog-post-sharing .share-list > li > a:hover,
.blog-post-sharing .share-list > li > a:focus{
	color: #967adc;
}

.blog-post-author .social-icon > li > a:hover,
.blog-post-author .social-icon > li > a:focus{
	background-color: #967adc;
	border-color: #967adc;
}


/*
	============================
	[7. SERVICE ]
	============================
*/
.service-container:hover > .service-icon .fa,
.service-container:hover > .service-icon .glyphicon{
	color: #967adc;
}


/*
	============================
	[8. MAP ]
	============================
*/
.map-infowindow h3{
	color: #967adc;
}


/*
	============================
	[9. SIDEBAR ]
	============================
*/
.widget-sidebar .widget-title h3::before{
	content: '';
	background-color: #967adc;
}

.widget-sidebar.widget_recent_entries ul > li > a:hover{
	text-decoration: none;
	color: #967adc;
}

.widget-sidebar ul > li > a:hover,
.widget-sidebar.widget_recent_entries ul > li > a:hover{
	text-decoration: none;
	color: #967adc;
}

.widget-sidebar.widget_tags ul > li > a:hover,
.widget-sidebar.widget_tags ul > li > a:focus{
	border: 1px solid #967adc;
	background-color: #967adc;
}


/*
	============================
	[10. PAGINATION ]
	============================
*/
.pagination > li > a,
.pagination > li > span {
	color: #967adc;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #967adc;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #967adc;
	border-color: #967adc;
}


/*
	============================
	[11. FOOTER ]
	============================
*/
.footer .widget-footer h2 span{
	color: #967adc;
}

.footer .widget-footer .widget-title h3::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 40px;
	height: 1px;
	background-color: #967adc;
}

.footer .widget-footer .social-icon > li > a:hover{
	background-color: #967adc;
}