// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > nav {
  form {
    .search {
      background-color: white;
    }
  }
}

#site-name {
  background: transparent url(/images/logo.png) 0 0  repeat;
  text-indent: -5000em;
  width: 133px;
  height: 40px;
  display: block;
}
