name: build-and-run-tests
permissions:
  contents: read
  pull-requests: write

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          rubygems: latest
      - name: Install dependencies
        run: bundle
      - name: Build site
        run: bundle exec jekyll build
      - name: Check Links
        run: bundle exec rake check_links
        continue-on-error: true

